﻿@model IEnumerable<Property>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owners name</th>
            <th>Rent a Property</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Property property in Model)
        {
            <tr>
                <td>@property.PropertyId</td>
                <td>@property.PName</td>
                <td>@property.Owner.Name</td>
                <td><a class="btn btn-success" asp-area="" asp-controller="Rent" asp-action="RentProp" asp-route-bookId="@property.PropertyId">Rent</a></td>
            </tr>
        }
    </tbody>
</table>