﻿@model RentViewModel
<div class="row orderForm">

    <form asp-controller="Rent" asp-action="RentProp" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Lend a book</h3>
        @Html.HiddenFor(m => Model.Prop.PropertyId)
        <div class="form-group">
            <label asp-for="Prop.BuRent" class="col-md-2 control-label"></label>
            <div class="col-md-6">

                @Html.DropDownListFor(m => m.Prop.PropertyId,
                                             new SelectList(Model.Tenants.Select(x => new { Value = x.TenantId, Text = x.Name }), "Value", "Text"),
                                             "Select Tenant",
                                             htmlAttributes: new { @class = "form-control border-input" })
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Cancel" asp-controller="Rent" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Rent" />
            </div>
        </div>
    </form>
</div>