﻿@model Owner

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <p>@Model.Name</p>
        </div>
        <div class="panel-body">
            <h2>Property count: @Model.Props?.Count</h2>
            <div class="btn-group">
                @if (Model.Props?.Count == 0)
                {
                    <a class="btn btn-default" asp-area="">View property list</a>
                }
                else
                {
                    <a class="btn btn-info" asp-area="" asp-controller="Prop" asp-action="List" asp-route-authorId="@Model.OwnerId">View property list</a>
                }
                <a class="btn btn-info" asp-area="" asp-controller="Owner" asp-action="Update" asp-route-id="@Model.OwnerId">Edit</a>
                <a class="btn btn-danger" asp-area="" asp-controller="Owner" asp-action="Delete" asp-route-id="@Model.OwnerId">Delete</a>
            </div>
        </div>
    </div>
</div>