﻿@model IEnumerable<Owner>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Owner" asp-action="Create">Create new owner</a>

<div class="row">
    @foreach (var owner in Model)
    {
        @Html.Partial("OwnerPartial", owner)
    }
</div>