﻿@model Owner

<div class="row orderForm">
    <form asp-controller="Owner" asp-action="Update" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Edit Owner @Model.Name</h3>
        @Html.HiddenFor(m => Model.OwnerId)
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Cancel" asp-controller="Owner" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>