﻿@model IEnumerable<TenantViewModel>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Tenant" asp-action="Create">Create new tenant</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Occupied Properties count</th>
            <th>Edit tenant</th>
            <th>Delete tenant</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tenantVM in Model)
        {
            <tr>
                <td>@tenantVM.Tenant.TenantId</td>
                <td>@tenantVM.Tenant.Name</td>
                <td>@tenantVM.PropCount</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Tenant" asp-action="Update" asp-route-id="@tenantVM.Tenant.TenantId">Edit</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Tenant" asp-action="Delete" asp-route-id="@tenantVM.Tenant.TenantId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>