﻿@model HomeViewModel
@{
    int availableBooks = Model.PropCount - Model.RentPropCount;
}

<h1>Property Management dashboard</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Tenant Count
            </div>
            <div class="panel-body">
                There are @Model.TenantCount Tenants
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Owners Count
            </div>
            <div class="panel-body">
                There are @Model.OwnerCount Owners
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Properties count
            </div>
            <div class="panel-body">
                There are @availableBooks Properties available out of @Model.PropCount properties
            </div>
        </div>
    </div>
</div>