﻿@model PropViewModel

<div class="row orderForm">
    <form asp-controller="Prop" asp-action="Create" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Create new property</h3>


        <div class="form-group">
            <label asp-for="Prop.Owner" class="col-md-2 control-label"></label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.Prop.OwnerId,
                                       new SelectList(Model.Owners.Select(x => new { Value = x.OwnerId, Text = x.Name }), "Value", "Text"), "Select a owner",
                                       htmlAttributes: new { @class = "form-control border-input" })
                <span asp-validation-for="Prop.Owner" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <a class="btn btn-success" style="width:100%" asp-controller="Owner" asp-action="Create">Create a owner</a>
            </div>

        </div>
        <div class="form-group">
            <label asp-for="Prop.PName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Prop.PName" class="form-control" placeholder="Enter property name" />
                <span asp-validation-for="Prop.PName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Cancel" asp-controller="Prop" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Create" />
            </div>
        </div>
    </form>
</div>