﻿@model IEnumerable<Property>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Prop" asp-action="Create">Create a new property</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Owners name</th>
            <th>Edit property</th>
            <th>Delete property</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Property property in Model)
        {
            <tr>
                <td>@property.PropertyId</td>
                <td>@property.PName</td>
                <td>@property.Owner.Name</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Prop" asp-action="Update" asp-route-id="@property.PropertyId">Edit</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Prop" asp-action="Delete" asp-route-id="@property.PropertyId" asp-route-authorId="@ViewBag.OwnerId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>