﻿@model PropViewModel

<div class="row orderForm">

    <form asp-controller="Prop" asp-action="Update" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Update property</h3>
        @Html.HiddenFor(m => Model.Prop.PropertyId)
        <div class="form-group">
            <label asp-for="Prop.Owner" class="col-md-2 control-label"></label>
            <div class="col-md-6">

                @Html.DropDownListFor(m => m.Prop.OwnerId,
                                                  new SelectList(Model.Owners.Select(x => new { Value = x.OwnerId, Text = x.Name }), "Value", "Text"),
                                                  htmlAttributes: new { @class = "form-control border-input" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prop.PName" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Prop.PName" class="form-control" placeholder="Enter property name" />
                <span asp-validation-for="Prop.PName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Cancel" asp-controller="Prop" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>